# database.yml
# Gemfile.lock, .ruby-version, .ruby-gemset
**.orig
*.rbc
*.swp
*~
.DS_Store
.env
.project
.rspec
.rvmrc
.secret
.yardoc
.coveralls.yml
*.sublime-*
/.bundle
/.idea
# /config/secrets.yml
/config/version.rb
/db/schema.db
/db/*.sqlite3
/db/*.sqlite3-journal
/doc/
/log
/public/assets
/public/system
/public/uploads
/spec/tmp
/tmp
/vendor/bundle
capybara-*.html
coverage
Gemfile.lock
pickle-email-*.html
rerun.txt
