javascript:
    // http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700
    WebFontConfig = {
      google: { families: ['Open Sans'] },
      fontloading: function(familyName, fvd) {
        console.log('WF loading: ' + familyName + ':' + fvd);
      },
      fontactive: function(familyName, fvd) {
        console.log('WF active: ' + familyName + ':' + fvd);

      },
      fontinactive: function(familyName, fvd) {
        console.log('WF inactive: ' + familyName + ':' + fvd);

      }
    };

    (function() {
      var wf = document.createElement('script');
      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
