@import "normalize";
@import "semantic";

@import "lattice";
@import "background";

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}
//.wf-opensans-i7-active
//.wf-opensans-n7-active
html.wf-opensans-n4-active body {
	font-family: "Open Sans", sans-serif;
}

.container {
	max-width: 1000px;
	margin: 1em auto;
}

td.actions {
	text-align: right;
}

#flash-messages .message {
	margin: 1em auto !important;
}

body {
	background-attachment: fixed;
	background-color: transparent;
	background-image: image_url('background.svg');
	background-repeat: no-repeat;
	background-size: cover;
}
